* {
  font-size: 18px;
}

#vivagraph-vis, svg#graphvis {
  position: absolute;
  left: 320px;
  top: 20px;
  width: 1000px;
  height: 800px;
  background-color: #eee;
}

button {
  margin-bottom: 8px;
  padding: 7px;
  background-color: #901A43;
  border: 0;
  outline: none;
  border-radius: 10px;
}

button:hover {
  background-color: red;
  cursor: pointer;
}

button:active {
  border: 0;
  outline: none;
}

.node {
  stroke: #901A43;
  stroke-width: 2;
  fill: #ddd;
  z-index
}

.node:hover, .node.active {
  stroke: black;
  stroke-width: 5px;
  fill: #fff730;
  cursor: pointer;
}

.u_edge, .d_edge {
  stroke: blue;
  stroke-opacity: 0.2;
  stroke-width: 1;
}

.marker_d_edge {
  fill: blue;
  fill-opacity: 0.2;
  stroke: blue;
  stroke-width: 1;
  stroke-opacity: 0.2;
}

#info-box {
  position: absolute;
  top: 0;
  right: -316px;
  bottom: 0;
  width: 300px;
  color: #eee;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.9);
  transition: right 0.15s;
  z-index: 500;
  display: none;
}

#close-info-box {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #777;
  font-size: 24px;
  z-index: 1000;
}

#close-info-box:hover {
  cursor: pointer;
}
