* {
  font-size: 18px;
}

svg#graphvis {
  position: absolute;
  left: 320px;
  top: 20px;
  width: 1000px;
  height: 800px;
  background-color: #eee;
}

button {
  margin-bottom: 8px;
  padding: 7px;
  background-color: #901A43;
  border: 0;
  outline: none;
  border-radius: 10px;
}

button:hover {
  background-color: red;
  cursor: pointer;
}

button:active {
  border: 0;
  outline: none;
}

.node {
  stroke: #901A43;
  stroke-width: 3;
  fill: #ddd;
}

.node:hover, .node.active {
  stroke: black;
  stroke-width: 5px;
  fill: #fff730;
  cursor: pointer;
}

#info-box {
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  width: 300px;
  color: #eee;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.9);
  transition: right 0.15s;
}

#close-info-box {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #777;
  font-size: 24px;
}

#close-info-box:hover {
  cursor: pointer;
}
