* {
  font-size: 18px;
}

svg#graphvis {
  position: absolute;
  left: 320px;
  top: 20px;
  width: 1000px;
  height: 800px;
  background-color: #111;
}

button {
  margin-bottom: 8px;
  padding: 7px;
  background-color: #901A43;
  border: 0;
  outline: none;
  border-radius: 10px;
}

button:hover {
  background-color: red;
  cursor: pointer;
}

button:active {
  border: 0;
  outline: none;
}

.node {
  stroke: rgb(144, 26, 67);
  stroke-width: 3;
  fill: #ddd;
  /*fill-opacity: 0.5;*/
}
